@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Inter', sans-serif;
}

.bg-blue-50 {
  background-color: #EEF2FF;
}

.bg-yellow-300 {
  background-color: #FDE047;
}